---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/cptec/v1/clima/previsao/4178
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ab-dAAWxProYGwLudIwjKf4ea3Eqsc"
      X-Matched-Path:
      - "/api/cptec/v1/clima/previsao/[cityCode]"
      X-Vercel-Cache:
      - HIT
      X-Vercel-Id:
      - iad1::sfo1::6xk2v-1693953114957-edead8f4ac86
    body:
      encoding: ASCII-8BIT
      string: '{"cidade":"Praia Grande","estado":"SP","atualizado_em":"2023-09-04","clima":[{"data":"2023-09-06","condicao":"c","condicao_desc":"Chuva","min":18,"max":21,"indice_uv":8}]}'
  recorded_at: Tue, 05 Sep 2023 22:31:54 GMT
recorded_with: VCR 6.2.0
