---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/cptec/v1/clima/previsao/4178/3
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"185-g+xaEGBwQa7ieqFOslXT88uDk8o"
      X-Matched-Path:
      - "/api/cptec/v1/clima/previsao/[cityCode]/[days]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::sfo1::fqbcz-1693953115537-4c64be8eeed2
    body:
      encoding: ASCII-8BIT
      string: '{"cidade":"Praia Grande","estado":"SP","atualizado_em":"2023-09-04","clima":[{"data":"2023-09-06","condicao":"c","condicao_desc":"Chuva","min":18,"max":21,"indice_uv":8},{"data":"2023-09-07","condicao":"pn","condicao_desc":"Parcialmente
        Nublado","min":17,"max":24,"indice_uv":8},{"data":"2023-09-08","condicao":"pn","condicao_desc":"Parcialmente
        Nublado","min":18,"max":29,"indice_uv":9}]}'
  recorded_at: Tue, 05 Sep 2023 22:31:56 GMT
recorded_with: VCR 6.2.0
