---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/fipe/preco/v1/017092-5?tabela_referencia=300
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"359-DpzbmsLXHV55HKbuBk6Qgxyk8uM"
      X-Matched-Path:
      - "/api/fipe/preco/v1/[fipeCode]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - gru1::sfo1::j4sqb-1694049595619-45b1487cbd50
    body:
      encoding: ASCII-8BIT
      string: '[{"valor":"R$ 127.466,00","marca":"Jeep","modelo":"Renegade T270 1.3
        TB 4x2 Flex Aut.","anoModelo":32000,"combustivel":"Gasolina","codigoFipe":"017092-5","mesReferencia":"agosto
        de 2023 ","tipoVeiculo":1,"siglaCombustivel":"G","dataConsulta":"quarta-feira,
        6 de setembro de 2023 22:19"},{"valor":"R$ 121.730,00","marca":"Jeep","modelo":"Renegade
        T270 1.3 TB 4x2 Flex Aut.","anoModelo":2024,"combustivel":"Gasolina","codigoFipe":"017092-5","mesReferencia":"agosto
        de 2023 ","tipoVeiculo":1,"siglaCombustivel":"G","dataConsulta":"quarta-feira,
        6 de setembro de 2023 22:19"},{"valor":"R$ 116.931,00","marca":"Jeep","modelo":"Renegade
        T270 1.3 TB 4x2 Flex Aut.","anoModelo":2023,"combustivel":"Gasolina","codigoFipe":"017092-5","mesReferencia":"agosto
        de 2023 ","tipoVeiculo":1,"siglaCombustivel":"G","dataConsulta":"quarta-feira,
        6 de setembro de 2023 22:19"}]'
  recorded_at: Thu, 07 Sep 2023 01:19:58 GMT
recorded_with: VCR 6.2.0
