---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/fipe/preco/v1/017092-5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"35f-Y97mfM/9oQLmkchMD9J02jYYGSE"
      X-Matched-Path:
      - "/api/fipe/preco/v1/[fipeCode]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - gru1::sfo1::4fq4d-1694049002026-fa89e22b29ce
    body:
      encoding: ASCII-8BIT
      string: '[{"valor":"R$ 129.376,00","marca":"Jeep","modelo":"Renegade T270 1.3
        TB 4x2 Flex Aut.","anoModelo":32000,"combustivel":"Gasolina","codigoFipe":"017092-5","mesReferencia":"setembro
        de 2023 ","tipoVeiculo":1,"siglaCombustivel":"G","dataConsulta":"quarta-feira,
        6 de setembro de 2023 22:10"},{"valor":"R$ 122.215,00","marca":"Jeep","modelo":"Renegade
        T270 1.3 TB 4x2 Flex Aut.","anoModelo":2024,"combustivel":"Gasolina","codigoFipe":"017092-5","mesReferencia":"setembro
        de 2023 ","tipoVeiculo":1,"siglaCombustivel":"G","dataConsulta":"quarta-feira,
        6 de setembro de 2023 22:10"},{"valor":"R$ 117.415,00","marca":"Jeep","modelo":"Renegade
        T270 1.3 TB 4x2 Flex Aut.","anoModelo":2023,"combustivel":"Gasolina","codigoFipe":"017092-5","mesReferencia":"setembro
        de 2023 ","tipoVeiculo":1,"siglaCombustivel":"G","dataConsulta":"quarta-feira,
        6 de setembro de 2023 22:10"}]'
  recorded_at: Thu, 07 Sep 2023 01:10:04 GMT
recorded_with: VCR 6.2.0
