---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/banks/v1/1
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a-huZMZU3M0Pa56jIff8TBob9LjRM"
      X-Matched-Path:
      - "/api/banks/v1/[code]"
      X-Vercel-Cache:
      - HIT
      X-Vercel-Id:
      - gru1::sfo1::g9466-1693923076305-b983819475f3
    body:
      encoding: ASCII-8BIT
      string: '{"ispb":"00000000","name":"BCO DO BRASIL S.A.","code":1,"fullName":"Banco
        do Brasil S.A."}'
  recorded_at: Tue, 05 Sep 2023 14:11:16 GMT
recorded_with: VCR 6.2.0
